@use "global" as *;

.about {

  @include mq("md") {
    position: relative;
  }
}

.about__inner {
  max-width: rem(600);
  width: 100%;
  // margin: auto;

  @include mq("md") {
    // max-width: 100%;
    position: relative;
  }
}

.about__icon-image {
  @include mq("md") {
    position: absolute;
    display: block;
    z-index: 10;
    right: calc(50% - min(48.5vw, rem(640)));
    bottom: rem(-88);
    width: rem(194);
  }
}



.about__sub-title {
  font-size: rem(40);
  font-family: $en-family;
  font-weight: $regular;
  line-height: 1;
  color: $green3;

  @include mq("md") {
    max-width: rem(400);
    width: 100%;
    margin-left: rem(0);
    font-size: rem(80);
    line-height: 1.25;
    color: $white;
    z-index: 20;
  }
}

.about__container {
  max-width: rem(600);
  width: 100%;
  margin: auto;
  position: relative;
  margin-top: rem(67);

  @include mq("md") {
    max-width: rem(1080);
    margin-top: rem(40);
  }
}

.about__img-box {
  margin-top: rem(27);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: rem(600);
  // display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  justify-content: flex-end;

  @include mq("md") {
    margin-top: rem(42);
    max-width: rem(1080);
  }
}

.about__image-2 {
  max-width: 80%;
  width: 100%;
  top: 14%;
  right: 0;

  @include mq("md") {
    max-width: rem(880);
    margin-top: rem(80);
  }
}

.about__image-2 img {
  width: 100%;
  aspect-ratio: 880/581;
  object-fit: cover;

  @include mq("md") {
    max-width: rem(880);
    aspect-ratio: 880/581;
  }
}

.about__image-1 {
  position: absolute;
  max-width: 39.9%;
  width: 100%;
  top: -25%;
  left: 0;
  bottom: 0;
  z-index: 10;

  @include mq("md") {
    max-width: rem(399);
  top: 0;
  }
}

.about__image-1 img {
  width: 100%;
  aspect-ratio: 399 / 606;
  object-fit: cover;
}



.about__body {
  margin-top: rem(50);
  padding-bottom: rem(40);

  @include mq("md") {
    margin-top: rem(20);
    display: flex;
    position: absolute;
    top: 28%;
    // transform: translateY(-50%);
    right: 0;
    width: 82%;
  }
}

.about__text-box {
  margin-top: rem(16);

  @include mq("md") {
    max-width: rem(440);
    width: 100%;
    margin-top: rem(2);
  }
}

.about__text {
  font-size: rem(16);
  font-family: $jp-family;
  font-weight: $regular;
  line-height: 1.5;
  color: $green;

  @include mq("md") {
    color: $white;
    margin-left: rem(40);
  }
}

.about__button {
  margin-top: rem(18);
  text-align: center;

  @include mq("md") {
    margin-top: rem(40);
    margin-left: rem(41);
  }
}

.about__btn a {
  @include mq("md") {

  }
}