@use "global" as *;

.blog {
  position: relative;

  @include mq("md") {
    padding-top: rem(84);
  }
}

.blog__bg {
  @include mq("md") {
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 60.168%;
  }
}

.blog__section-header {
  @include mq("md") {
    // position: absolute;
    // top: 10%;
    // left: 47%;
    // transform: translateY(-50%);
  }
}

.blog__inner {
  max-width: rem(600);
  width: 100%;
  @include mq("md") {
    position: relative;
  }
}

.blog__icon-image {
  @include mq("md") {
    position: absolute;
    content: "";
    z-index: 10;
    left: calc(50% - min(48.5vw, rem(600)));
    top: rem(20);
    width: rem(437);
    height: rem(201);
  }
}

.blog__cards {
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.blog__button {
  margin-top: rem(44);
  text-align: center;

  @include mq("md") {
    margin-top: rem(70);
  }
}