
@use "global" as *;

.blog {
  margin-top: rem(81);
  // margin-bottom: rem(300);
  position: relative;
}

.blog__title.section-header__engtitle {
  @include mq("md") {
    padding-top: rem(100);
  }
}

.blog__icon-image {
  @include mq("md") {
    position: absolute;
    content: "";
    z-index: 10;
    left: rem(100);
    top: rem(35);
    width: rem(437);
    height: rem(201);
  }
}

.blog__bg {
  @include mq("md") {
    background-image: url(/assets/images/common/blog-bg_img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.blog-cards {
  display: grid;
  gap: rem(40);

  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog__btn {
  margin-top: rem(40);
  text-align: center;
}