@use "global" as *;

.campaign {}

.campaign__inner {
  position: relative;
}

.campaign__box {
  margin-top: rem(28);
  display: flex;
  flex-wrap: wrap;

  @include mq("md") {
    margin-top: rem(40);
  }
}

// .card__body.charge {
//   display: flex;
//   flex-direction: column;
//   margin-top: auto;
// }

.campaign__button {
  text-align: center;
  margin-top: rem(45);

  @include mq("md") {
    margin-top: rem(60);
  }
}