@use "global" as *;

.campaign-cards {
  margin-right: calc(50% - 49.5vw);
  padding-bottom: rem(10);
  @include mq("md") {
    position: relative;
  }
}

.campaign-cards__items {
  width: 100%;
}

.campaign-cards__item {
  height: auto;
  width: rem(280);
  max-width: 100%;
  // margin-right: rem(20);
  @include mq("md") {
    width: rem(333);
  }
}