@use "global" as *;

.colorbox-motion-txt {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.colorbox-motion-txt:after {
  content: '';
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: $green3;
  transform: translate3d(101%, 0, 0);
}

.colorbox-scroll.show .colorbox-motion-txt:after {
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate3d(0, 0, 0);
}

.colorbox-scroll.done .colorbox-motion-txt:after {
  transition-property: transform;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate3d(-103%, 0, 0);
}

.colorbox-motion-txt .colorbox-motion-inner {
  display: inline-block;
  opacity: 0;
}

.colorbox-scroll.done .colorbox-motion-txt .colorbox-motion-inner {
  opacity: 1;
}