@use "global" as *;

.contact {
  padding: rem(68) 0 rem(30);
  width: 100%;
  position: relative;

  @include mq("md") {
    padding: rem(152) 0 rem(148);
  }
}

.contact__icon-image {
  position: absolute;
  content: "";
  z-index: 10;
  right: rem(8);
  top: rem(57);
  width: rem(109);
  height: rem(50);

  @include mq("md") {
    right: rem(50);
    top: rem(100);
    width: rem(300);
    height: rem(138);
  }
}

.contact-inner.inner {
  padding: 0 rem(15) 0 rem(16);
  text-align: center;
}

.contact__wrapper.card {
  box-shadow: none;

  @include mq("md") {
    display: inline-block;
    max-width: rem(1080);
    width: 100%;
    padding: rem(80) rem(112) rem(91) rem(50);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  }
}

.contact__wrap {
  @include mq("md") {
    display: flex;
    justify-content: center;
  }
}

.contact__contain {
  text-align: center;
  width: 100%;

  @include mq("md") {
    padding-right: rem(82);
    position: relative;
  }
}

.contact__contain::after {
  content: "";
  width: rem(1);
  top: 0;
  height: 100%;
  align-items: center;
  background-color: $green3;
  position: absolute;
  left: 100%;
}

.contact__logo {
  max-width: rem(295);
  width: 100%;
  padding-bottom: rem(6);
  border-bottom: rem(1) solid #408F95;
  display: block;
  text-align: center;
  margin: 0 auto;

  @include mq("md") {
    max-width: rem(440);
    padding-bottom: rem(0);
  }
}

.contact__logo img {
  max-width: rem(174);
  width: 100%;
  margin: 0 auto;

  @include mq("md") {
    max-width: rem(200);
  }
}

.contact__box {
  margin-top: rem(16);
  margin-left: rem(-6);

  @include mq("md") {
    // max-width: calc(33.333% - 34px * 1 / 2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: rem(24);
  }
}

.contact__form--item {
  // width: 33%;
}

.contact__form--item p {
  font-size: rem(16);
  font-family: $jp-family;
  font-weight: $regular;
  line-height: 1.5;
  color: $green;

  @include mq("md") {
    text-align: left;
  }
}

.contact__form--item p:not(:first-child) {
  margin-top: rem(4);
}

.contact__box form {
  display: none;
}

.contact__item {
  margin-top: rem(16);
  padding: rem(5);
  width: rem(295);
  height: rem(160);
  background-color: $gray;
  display: inline-block;

  @include mq("md") {
    margin-top: 0;
    margin-left: rem(20);
    width: rem(273);
    height: rem(148);
    // width: 52%;
  }
}

.contact-card__body {
  @include mq("md") {
    margin-left: rem(80);
    margin-top: rem(-21);
  }
}

.contact__title.section-header {
  margin-top: rem(25);
}

.contact__title.section-header h2 {
  font-size: rem(80);
  font-family: $en-family;
  font-weight: $regular;
}

.contact__title.section-header p {
  margin-top: rem(-18);
  font-size: rem(12);
  font-family: $jp-family;
  font-weight: $regular;
  line-height: 2;
  letter-spacing: 0.15em;
}

.contact__btn {
  margin-top: rem(40);
  text-align: center;

  @include mq("md") {
    margin-top: rem(-45);
  }
}