@use "global" as *;

.contact {
  position: relative;
  @include mq("md") {
  }
}

.contact__inner {
  position: relative;
  @include mq("md") {
  }
}

.contact__icon-image {
  position: absolute;
  z-index: 10;
  right: calc(50% - min(48.5vw, rem(670)));
  top: rem(-10);
  width: rem(109);
  height: rem(50);

  @include mq("md") {
    top: rem(-60);
    width: rem(300);
    height: rem(138);
  }
}

.contact__inner {
  padding-right: rem(15);
  margin-left: rem(16);
  text-align: center;
}

.contact__wrapper {
  box-shadow: none;
  padding: 0;

  @include mq("md") {
    display: inline-block;
    max-width: rem(1080);
    width: 100%;
    padding: rem(52) rem(112) rem(91) rem(50);
    box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  }
}

.contact__wrap {
  @include mq("md") {
    display: flex;
    justify-content: center;
  }
}

.contact__contain {
  text-align: center;
  width: 100%;

  @include mq("md") {
    margin-top: rem(16);
    padding-right: rem(82);
    border-right: rem(1) solid $green3;
  }
}

.contact__logo {
  max-width: rem(295);
  width: 100%;
  padding-bottom: rem(6);
  border-bottom: rem(1) solid #408F95;
  display: block;
  text-align: center;
  margin: 0 auto;

  @include mq("md") {
    max-width: rem(440);
    padding-bottom: rem(6);
  }
}

.contact__logo img {
  max-width: rem(174);
  width: 100%;
  margin: 0 auto;

  @include mq("md") {
    max-width: rem(200);
  }
}

.contact__box {
  margin-top: rem(16);

  @include mq("md") {
    width: 100%;
    display: flex;
    // justify-content: space-between;
    margin-top: rem(24);
  }
}

.contact__form-item {
  // width: 33%;
}

.contact__form-item p {
  font-size: rem(16);
  font-family: $jp-family;
  font-weight: $regular;
  line-height: 1.5;
  color: $green;

  @include mq("md") {
    text-align: left;
  }
}

.contact__form--item p:not(:first-child) {
  margin-top: rem(4);
}

.contact__box form {
  display: none;
}

.contact__form-map {
  margin-top: rem(16);
  padding: rem(5);
  width: rem(295);
  height: rem(160);
  max-width: rem(295);
  width: 100%;

  // background-color: $gray;
  display: inline-block;

  @include mq("md") {
    margin-top: 0;
    margin-left: rem(20);
    width: rem(273);
    height: rem(148);
    // width: 52%;
  }
}

.contact__form-map iframe {
  aspect-ratio: 295/160;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contact__body {
  @include mq("md") {
    margin-left: rem(80);
    margin-top: rem(36);
  }
}

// .contact__title.section-header {
//   margin-top: rem(33);
//   font-size: rem(12);
//   font-family: $jp-family;
//   font-weight: $regular;
//   line-height: 2;
//   letter-spacing: 0.1em;
//   @include mq("md") {
//   margin-top: rem(0);
//   }
// }

.contact__title.section-header {
  margin-top: rem(50);

  @include mq("md") {
    margin-top: 0;
  }
}

.contact-title.section-header__sub span {
  color: $green3;
}

.contact-sub.section-header__main {
  font-size: rem(12);

  @include mq("md") {}
}

.contact__text {
  font-size: rem(14);
  margin-top: rem(8);
  font-family: $jp-family;
  font-weight: $regular;
  line-height: 1.28517;
  color: $green3;
}

.contact__button {
  margin-top: rem(30);
  text-align: center;

  @include mq("md") {
    margin-top: rem(35);
  }
}