@use "global" as *;

.footer {
  padding-top: rem(25);
  padding-bottom: rem(47);
  background-color: $green3;

  @include mq("md") {
    padding-top: rem(70);
    padding-bottom: rem(80);
  }
}

// .footer.footer-layout__404 {
//   padding-top: rem(100);
//   @include mq("md") {
//     padding-top: rem(100);
//   }
// }

.footer a:hover {
  opacity: 0.7;
}

.footer__inner.inner {
  max-width: rem(600);
  padding: 0 rem(14);

  @include mq("md") {
    max-width: rem(1130);
    padding-left: rem(25);
    padding-right: rem(25);
  }
}

.footer__logo-body {
  margin-left: rem(0);
  margin-top: rem(17);

  @include mq("md") {
    display: flex;
    margin-left: 0;
    margin-top: 0;
  }
}

.footer__logo-body.page--404 {
  margin-top: rem(80);
  @include mq("md") {
  margin-top: rem(17);
  }
}

.footer__logo {
  max-width: rem(136);
  width: 100%;
  padding-left: rem(15);

  @include mq("md") {
    max-width: rem(212);
    margin-top: rem(10);
    margin-left: rem(-15);
  }
}

.footer.footer__nav {
  // padding-top: rem(57);
}

.footer__icon {
  display: flex;
  margin-top: rem(15);
  margin-left: rem(15);

  @include mq("md") {
    margin-top: rem(47);
    margin-left: rem(44);
  }
}

.footer__icon img {
  width: 100%;
  max-width: rem(24);
  height: rem(24);

  @include mq("md") {
    max-width: rem(32);
    height: rem(32);
  }
}

.footer__icon-instagram {
  margin-left: rem(10);
}

.footer__nav {}

.footer__nav {
  background-color: $green3;
}

.footer__nav-body {
  display: flex;
  margin-top: rem(25);
  width: 100%;
  justify-content: center;

  @include mq("md") {
    margin-top: rem(14);
  }
}

.footer__nav-items {
  @include mq("md") {}
}

.footer__nav-item {
  width: 100%;
  position: relative;

  @include mq("md") {}
}

.footer__nav-item a {
  @include mq("md") {
    text-align: left;
  }
}

.footer__sub-item {
  margin-left: rem(16);
}

.footer__sub-list a:nth-child(1),
.footer__sub-list a:nth-child(2),
.footer__sub-list a:nth-child(3) {
  color: $white;
  display: block;
  padding: rem(12);
  font-size: rem(16);
  font-family: $jp-family;
  font-weight: $regular;
  line-height: 1.125;
}

.sp-nav__sub-list a {
  margin-left: rem(15);
}

.footer__nav-item a {
  color: $white;
  display: block;
  padding: rem(12);
  font-size: rem(16);
  font-family: $jp-family;
  font-weight: $bold;
  line-height: 1.125;
}

.footer__box {
  margin-top: rem(12);
}

.item-child-list a {
  // margin-top: rem(-1);
  // margin-bottom: rem(6);

  @include mq("md") {
    // margin-top: rem(-2);
    // margin-bottom: rem(4);
  }
}

.footer__box a::before {
  content: url(../../assets/images/common/hitode_img.svg);
  position: relative;
  top: rem(3);
  right: rem(3);
}

.footer__pc-blocks {
  @include mq("md") {}
}

.pc-block {
  @include mq("md") {}
}

.footer__copyright {
  text-align: center;
  font-size: rem(12);
  font-family: $en-family;
  font-weight: $regular;
  line-height: 1.5;
  color: $white;
}

.footer__nav-left,
.footer__nav-right {
  @include mq("md") {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}

.footer__nav-right {
  // margin-right: rem(-9);

  @include mq("md") {
    text-align: right;
  }
}

.footer__nav-items {
  @include mq("md") {
    columns: 2;
    column-gap: rem(5);
    margin: 0;
    padding: 0;
  }
}

.footer__nav-item {
  @include mq("md") {
    display: block;
    margin-bottom: rem(10);
  }
}

.footer__copyright {
  margin-top: rem(25);
  // padding-bottom: rem(56);
  // padding: rem(25) rem(0) rem(56);

  @include mq("md") {
    margin-top: rem(56);
    // padding: rem(56) rem(10) rem(56);
  }
}

.footer__copyright small {
  font-size: rem(12);
  line-height: 1.5;
  font-family: $en-family;
  font-weight: $regular;
  color: $white;

  @include mq("md") {
    font-size: rem(12);
    letter-spacing: 0.08em;
  }
}