@use "global" as *;

.form-input input {
  padding: rem(8) rem(16);
  width: 100%;
  font-weight: $regular;
  font-family: $jp-family;
  font-size: rem(16);
  line-height: 1;
  border-radius: 0;
  border: 1px solid #ccc;
  appearance: none;
  background-color: transparent;
  background-image: none;
}

.form-input.form-error input {
  border: 1px solid $red;
  background: rgba(201, 72, 0, 0.20);
}

.form-input input:focus {
  border: 1px solid #ccc;
  box-shadow: none;
  outline: none;
}

.form-input ::placeholder {
  color: $green2;
}

.form-input.form-error ::placeholder {
  color: $white;
}
