@use "global" as *;

.form-radio label {
  display: block;

  @include mq(md) {
    display: inline-block;
  }
}

.form-radio label:not(:first-of-type) {
  margin-top: rem(10);

  @include mq(md) {
    margin-top: 0;
    margin-left: rem(30);
  }
}

.form-radio input {
  display: none;
}

.form-radio input+span {
  padding: 0 0 0 rem(25);
  position: relative;
  display: block;
  font-size: rem(15);
  line-height: 1;
  cursor: pointer;

  @include mq(md) {
    display: inline-block;
  }
}

.form-radio input+span::before {
  content: "";
  width: rem(15);
  height: rem(15);
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.form-radio input+span::after {
  content: "";
  padding: rem(2);
  width: rem(7);
  height: rem(7);
  position: absolute;
  top: 50%;
  left: rem(4);
  transform: translateY(-50%);
  border: 1px solid transparent;
  border-radius: 50%;
  background: #000;
  opacity: 0;
  transition: .3s;
}

.form-radio input:checked+span::after {
  opacity: 1;
}