@use "global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  height: rem(80);
  width: 100%;
  background-color: rgba(13, 41, 54, 0.68);

  @include mq("md") {
    height: rem(90);
  }
}

// .header.is-color {
  // background-color: $green;
  // opacity: 1;
// }

// spナビでスクロールしても文字が被らない
.header__inner.clicked {
  background-color: $green3; // 背景色を$accent-colorに設定
}

.header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(15);
  z-index: 9998;

  @include mq("md") {
    padding: 0 rem(40);
  }
}

.header__logo {
  display: block;
  z-index: 9999;
}

.header__logo img {
  width: rem(100);
  max-width: 100%;
  padding-top: rem(5);
  display: block;
  height: auto;

  @include mq("md") {
    width: rem(133);
    max-width: 100%;
  }
}

.header__hamburger {
  position: relative;
  z-index: 100;
  padding-top: rem(5);
  padding-bottom: rem(5);
  width: rem(32);
  height: inherit;
  // height: rem(24);
  @include mq("md") {
      display: none;
    }
}

.header__hamburger span {
  position: relative;
  display: block;
  // width: inherit;
  width: rem(32);
  height: rem(1);
  right: 4px;
  background-color: $white;
  transition: 0.3s;
}

.header__hamburger.is-active span {
  background-color: $white;
}

.header__hamburger span:nth-child(1) {
  top: -15%;
}

.header__hamburger span:nth-child(2) {
  top: 0%;
  opacity: 1;
}

.header__hamburger span:nth-child(3) {
  top: 15%;
}

.header__hamburger.is-active span:nth-child(1) {
  top: 0%;
  transform: rotate(37deg);
}

.header__hamburger.is-active span:nth-child(2) {
  top: 1%;
  opacity: 0;
}

.header__hamburger.is-active span:nth-child(3) {
  top: 0%;
  transform: rotate(-37deg);
}

.header__pc-nav {
  height: inherit;
  margin-left: auto;
  display: none;

  @include mq("md") {
    display: block;
  }
}

.header__sp-nav.sp-nav {
  @include mq("md") {
    display: none;
  }
}



/* ドロワーが表示された際のスタイル */
.header.drawer-open {
  background-color: $green3;
  /* ドロワー表示時の背景色を指定 */
}

/* スペースのスタイル */
.sp-nav__space {
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 30;
  background: #408f95;

  @include mq("md") {
    display: none;
  }
}