@use "global" as *;

.information {
  padding-top: rem(80);
  padding-bottom: rem(85);
  background-color: $green2;

  @include mq("md") {
    padding-top: rem(97);
    padding-bottom: rem(108);
  }
}

.information__inner {
  max-width: rem(600);
  width: 100%;
  // margin: auto;

  @include mq("md") {
    // max-width: 100%;
  }
}

.information__button {
  margin-top: rem(47);
  text-align: center;

  @include mq("md") {
    margin-top: rem(42);
  }
}