@use "global" as *;

.information-tab {

}

.information-tab__menu {
  display: flex;
  justify-content: space-between;
}

.information-tab__menu-item {
  padding: rem(10) rem(12);
  // min-width: rem(100);
  width: fit-content;
  font-size: rem(14);
  line-height: 1.5;
  color: $green3;
  box-shadow: rem(2) rem(2) rem(4) 0 rgba(0, 0, 0, 0.25);
  background-color: $green2;
  text-align: center;
  cursor: pointer;

  @include mq(md) {
  display: flex;
  align-items: center;
  justify-content: center;
    padding: rem(30);
    // max-width: rem(250);
    font-size: rem(24);
    line-height: 1;
  }
}

.information-tab__menu-item+.information-tab__menu-item {
  margin-left: rem(20);

  @include mq(md) {
    margin-left: rem(90);
  }
}

.information-tab__menu-item.is-active {
  color: $white;
  background-color: $green3;
}

.information-tab__menu-icon {
  display: none;

  @include mq("md") {
    display: block;
    width: rem(64);
    max-width: 100%;
    height: rem(64);
    padding-right: rem(8);
  }
}

/* 通常時のアイコンの色を#408F95に変更 */
.information-tab__icon img {
  filter: invert(52%) sepia(46%) saturate(485%) hue-rotate(136deg) brightness(87%) contrast(83%);
  color: #408F95;
  /* 通常時のアイコンの色 */
}

/* アクティブ時のアイコンの色を#fffに変更 */
.information-tab__menu-item.js-tab-menu.is-active .information-tab__icon img {
  // filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(110deg) brightness(98%) contrast(108%);
  filter: brightness(1) invert(0);
  color: #fff;
  /* アクティブ時のアイコンの色 */
}

.information-tab__content {
  margin-top: rem(16);
  @include mq("md") {
  margin-top: rem(24);
  }
}

.information-tab__content-item {
  padding: rem(25);
  display: none;
  background-color: $white;
  border: 1px solid $green3;
}

.information-tab__content-item.is-active {
  display: block;
  animation: fade .3s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.information-tab__body {
  @include mq("md") {
    display: flex;
  }
}

.information-tab__text-box {
  @include mq("md") {
    display: grid;
    place-content: center;
    max-width: rem(492);
    width: 100%;
  }
}

.information-tab__title {
  font-size: rem(24);
  font-family: $jp-family;
  font-weight: $bold;
  line-height: 1;
  color: $green;
  padding-bottom: rem(8);
  border-bottom: rem(1) solid $green3;
  @include mq("md") {
  font-weight: $normal;
  }
}

.information-tab__text {
  margin-top: rem(8);
  font-size: rem(16);
  font-family: $jp-family;
  font-weight: $regular;
  line-height: 1.5;
  color: $black;
  padding-bottom: rem(8);
}

.information-tab__img {
  width: 100%;
  @include mq("md") {
  margin-left: rem(48);
  }
}

.information-tab__img img {
  width: 100%;
  aspect-ratio: 297/189;
  object-fit: cover;

  @include mq("md") {
    aspect-ratio: 492/313;
  }
}