@use "global" as *;

.information-tub {

}

.information-tab__menu {
  display: flex;
  justify-content: space-between;
}

.information-tab__menu-item {
  padding: rem(10) rem(12);
  // min-width: rem(100);
  width: fit-content;
  font-size: rem(14);
  line-height: 1.5;
  color: $green3;
  box-shadow: rem(2) rem(2) rem(4) 0 rgba(0, 0, 0, 0.25);
  background-color: $green2;
  text-align: center;
  cursor: pointer;

  @include mq(md) {
    padding: rem(30);
    // max-width: rem(250);
    font-size: rem(24);
    line-height: 1;
  }
}

.information-tab__menu-item+.information-tab__menu-item {
  margin-left: rem(20);

  @include mq(md) {
    margin-left: rem(90);
  }
}

.information-tab__menu-item.is-active {
  color: $white;
  background-color: $green3;
}

.information-tab__content {
  margin-top: rem(16);
  @include mq("md") {
  margin-top: rem(24);
  }
}

.information-tab__content-item {
  padding: rem(25);
  display: none;
  background-color: $white;
  border: 1px solid $green3;
}

.information-tab__content-item.is-active {
  display: block;
  animation: fade .3s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.information-tab__body {
  @include mq("md") {
    display: flex;
  }
}

.information-tab__text-box {
  @include mq("md") {
    display: grid;
    place-content: center;
    max-width: rem(492);
    width: 100%;
  }
}

.information-tab__title {
  font-size: rem(24);
  font-family: $jp-family;
  font-weight: $bold;
  line-height: 1;
  color: $green;
  padding-bottom: rem(8);
  border-bottom: rem(1) solid $green3;
  @include mq("md") {
  font-weight: $normal;
  }
}

.information-tab__text {
  margin-top: rem(8);
  font-size: rem(16);
  font-family: $jp-family;
  font-weight: $regular;
  line-height: 1.5;
  color: $black;
  padding-bottom: rem(8);
}

.information-tab__img {
  width: 100%;
  @include mq("md") {
  margin-left: rem(48);
  }
}

.information-tab__img img {
  width: 100%;
  aspect-ratio: 297/189;
  object-fit: cover;

  @include mq("md") {
    aspect-ratio: 492/313;
  }
}