@use "global" as *;

.modal {
  padding: rem(100) 0;
  background: rgba(32, 32, 32, 0.80);
}

// .modal__close-button {
//   position: fixed;
//   top: 0;
//   right: 0;
//   margin: 0;
//   padding: rem(20) rem(35);
//   outline: none;
//   border: none;
//   font-size: rem(13);
//   line-height: 1;
//   letter-spacing: 0.1em;
//   text-transform: uppercase;
//   color: #fff;
//   border-radius: 0 0 0 rem(10);
//   background-color: #DE8430;
//   cursor: pointer;

//   @include mq(md) {
//     padding: rem(25) rem(40);
//   }
// }

.modal__inner {
  margin: auto;
  padding: 0 rem(20);
  max-width: rem(920);
  width: 100%;
}

.modal__img {
  width: 100%;
}

.modal__img img {
  width: 100%;
  aspect-ratio: 920/586;
  object-fit: cover;
}