@use "global" as *;

.mv {
  min-height: rem(400);
  width: 100%;
  height: 100vh;
  min-height: rem(400);
}

.mv_inner {
  position: relative;
  width: 100%;
  height: inherit;
  // padding: 0 rem(64) 0 rem(63);
}

.mv__slider img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.mv__slider,
.swiper-slide source,
.swiper-slide img {
  // height: 100vh;
}

.swiper-slide img {
  object-fit: cover;
  // height: 100vh;
}

.mv__header {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;

  @include mq("md") {
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
  }
}

.mv__title {
  font-size: rem(39);
  font-weight: $regular;
  font-family: $en-family;
  line-height: 1;
  letter-spacing: 0.52em;
  text-indent: 0.52em;
  color: $white;

  @include mq("md") {
    font-size: rem(80);
    line-height: 1;
  }
}

.mv__title span {

  // margin-left: rem(37);
  @include mq("md") {
    // margin-left: rem(5);
  }
}

.mv__subtitle {
  font-size: rem(20);
  margin-top: rem(7);
  margin-left: rem(50);
  font-family: $en-family;
  font-weight: $regular;
  line-height: 1;
  color: $white;

  @include mq("md") {
    margin-top: rem(10);
    margin-left: rem(3);
  }
}