@use "global" as *;

.mv {
  position: relative;
  // height: 100vh;
  // background-image: url(/assets/images/common/top-sp_img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @include mq("md") {
    // background-image: url(/assets/images/common/top-pc_img1.jpg);
  }
}

.mv_inner {
  // padding: 0 rem(64) 0 rem(63);
}

.mv picture img {
  height: 100vh;
}

.mv__header {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translate(50%, -50%);
  left: rem(50);
  color: $white;
  @include mq("md") {
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.mv__title {
  font-size: rem(39);
  font-weight: $regular;
  font-family: $en-family;
  line-height: 1;
  letter-spacing: 0.52em;
  color: $white;
  @include mq("md") {
    font-size: rem(80);
    line-height: 1;
    margin-left: rem(37);
      margin-top: rem(104);
  }
}

.mv__title span {
  margin-left: rem(-77);
  @include mq("md") {
    margin-left: rem(5);
  }
}

.mv__subtitle {
  font-size: rem(20);
  margin-top: rem(7);
  margin-left: rem(-27);
  font-family: $en-family;
  font-weight: $regular;
  line-height: 1;
  color: $white;
  @include mq("md") {
    margin-top: rem(10);
    margin-left: rem(3);
  }
}