@use "global" as *;

.page-campaign-card {
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
}

.page-campaign-card__container {
  display: flex;
  flex-grow: 1;
  /* カード内のテキスト部分を可変高さにする */
  // height: 100%;
}

.page-campaign-card__link {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.page-campaign-card__link {
  max-width: rem(280);
  width: 100%;

  @include mq("md") {
    max-width: rem(520);
    width: 100%;
  }
}

.page-campaign-card__link img {
  width: 100%;
  aspect-ratio: 280/188;
  object-fit: cover;
  height: auto;

  @include mq("md") {
    aspect-ratio: 520/347;
  }
}

.page-campaign-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  padding: rem(16);
  padding-bottom: rem(24);

  @include mq("md") {
    padding: rem(23) rem(16) rem(38);
  }
}

.page-campaign-card__mete {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.page-campaign-card__tag {
  display: inline-block;
  font-size: rem(12);
  line-height: 2;
  font-family: $jp-family;
  color: $green3;
  padding: rem(2) rem(12);
  border: rem(1) solid $green3;

  @include mq("md") {
    padding: rem(4) rem(16);
  }
}

.page-campaign-card__body-head {
  // display: flex;
  // align-items: flex-start;
  // flex-grow: 1;
  // margin-bottom: auto;
}

.page-campaign-card__title {
  padding-bottom: 0;
  border: none;
  font-size: rem(16);
  line-height: 1.5;
  font-family: $jp-family;
  font-weight: normal;
  margin-top: rem(4);
  color: $green;
  // border-bottom: rem(1) solid $green3;

  @include mq("md") {
    margin-top: rem(0);
    padding-bottom: rem(8);
  }
}

.page-campaign-card__charge-text {
  padding-top: rem(16);
  font-size: rem(14);
  font-family: $jp-family;
  font-weight: $regular;
  line-height: 1.7142;
  color: $green;
  text-align: center;
  border-top: rem(1) solid $green3;

  @include mq("md") {
    padding-bottom: rem(8);
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
}

.page-campaign-card__charge-box {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  width: 100%;

  @include mq("md") {
    justify-content: center;
  }
}

.page-campaign-card__charge-price-1 {
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1;
  color: $green;
  // text-decoration-line: line-through;
  background-position: 0 50%;
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-color: $red;
  text-decoration-thickness: rem(3);
  background-size: 100% rem(3);
  background-repeat: repeat-x;
  text-decoration: none;
  padding: 0 rem(2) rem(3) rem(17);

  @include mq("md") {
    font-size: rem(24);
  }
}

.page-campaign-card__charge-price-2 {
  font-size: rem(30);
  font-weight: $bold;
  line-height: 1;
  color: $green3;
  margin-left: rem(16);

  @include mq("md") {
    font-size: rem(40);
  }
}

.page-campaign-card_box {
  @include mq("md") {
    display: flex;
    flex-direction: column;
    margin-top: rem(24);
  }
}

.page-campaign-card_text {
  @include mq("md") {
    padding-bottom: rem(32);
    font-size: rem(16);
    line-height: 1.5;
    font-family: $jp-family;
    font-weight: normal;
    color: $green;
    flex-grow: 1;
  }
}

.page-campaign-card__time {
  @include mq("md") {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: rem(7);
    font-size: rem(16);
    line-height: 1.125;
    font-weight: bold;
    color: $green3;
  }
}

.page-campaign-card_contact-text {
  @include mq("md") {
    text-align: center;
    padding-bottom: rem(7);
    font-size: rem(14);
    font-family: $jp-family;
    line-height: 1.128571;
    font-weight: normal;
    color: $green3;
  }
}

.page-campaign-card__button {
  @include mq("md") {
    margin-top: rem(16);
    text-align: center;
  }
}