@use "global" as *;

.page-campaign {
  position: relative;
}

.page-campaign__icon-image1 {
  position: absolute;
  content: "";
  z-index: -10;
  left: calc(50% - min(48.5vw, rem(620)));
  top: rem(-25);
  width: rem(120);
  height: rem(55);

  @include mq("md") {
    top: rem(-68);
    width: rem(300);
    height: rem(138);
  }
}

.page-campaign__tab {
  margin: 0 auto;
}

.page-campaign__tab-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  // width: rem(375);
  max-width: 100%;
  margin-top: rem(53);
  padding: 0;
  list-style-type: none;

  @include mq("md") {
    display: flex;
    margin-top: rem(150);
  }
}

.page-campaign__tab-list li {
  margin-left: 2px;
  font-size: rem(14);
  border: $green3 1px solid;
  background: $white;
  color: $green3;
  position: relative;
  padding: 6px 6px 6px;
  cursor: pointer;
  text-align: center;
  line-height: 1;
}

.page-campaign__tab-list li:first-child {
  margin-left: 0;
}

.page-campaign__tab-list li:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 16px solid #c3d4dc;
  display: none;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.page-campaign__tab-list li.active,
.page-campaign__tab-list li:hover {
  background: $green3;
  color: $white;
  font-weight: $normal;
}

.page-campaign__tab-list li:hover:after {
  display: $normal;
}

.page-campaign__tab-item {

  width: rem(150);
  max-width: 100%;

  @include mq("md") {
    width: rem(162);
  }
}

.page-campaign__contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: rem(40);
  margin-top: rem(40);

  @include mq("md") {
    display: grid;
    gap: rem(40);
    grid-template-columns: repeat(2, 1fr);
    align-items: normal;
  }
}

.page-campaign__content {
  width: rem(280);
  max-width: 100%;

  @include mq("md") {
    width: 100%;
  }
}