@use "global" as *;

.pagination {
  margin-top: rem(75);
  text-align: center;
}

.pagination a,
.pagination span {
  display: inline-block;
  margin: 8px 4px;
  text-decoration: none;
  // border-radius: 6px;
  background: #fff;
  width: rem(50);
  height: rem(50);
  padding: rem(13) 0;
  border: 2px solid $green3;
  color: $green3;
  line-height: 1;
}

.pagination a:hover {
  background-color: $green3;
  color: $white;
  opacity: 1;
}

.pagination .current {
  background: $green3;
  color: $white;
  font-weight: bold;
}

.page-numbers {
  transition: .3s;
}

.prev.page-numbers {
  margin: rem(8) rem(35);
  font-size: 15px;
  transition: .3s;
}

.next.page-numbers {
  margin: rem(8) rem(35);
  transition: .3s;
}