@use "global" as *;

.page-blog {
  position: relative;
}

.page-blog__icon-image1 {
  position: absolute;
  display: block;
  z-index: -10;
  left: calc(50% - min(48.5vw, rem(640)));
  top: rem(-30);
  height: rem(55);
  width: rem(120);

  @include mq("md") {
    top: rem(-70);
    height: rem(138);
    width: rem(300);
  }
}

.page-blog__inner {
  margin: auto;
  padding: 0 rem(20);
  max-width: rem(600);
  width: 100%;

  @include mq(md) {
    padding: 0 rem(25);
    max-width: rem(1200);
    // display: flex;
  }
}

.page-blog__wrapper {
  display: block;

  @include mq("md") {
    display: flex;
  }
}

.page-blog__body {
  @include mq("md") {
    width: 66%;
  }
}

.page-blog__items {
  display: grid;
  gap: rem(40);
  grid-template-columns: repeat(1, 1fr);
  counter-reset: number;

  @include mq(md) {
    row-gap: rem(80);
    column-gap: rem(40);
    grid-template-columns: repeat(2, 1fr);
  }
}

.page-blog__link {
  padding: rem(24) 0;
  display: flex;
  border-bottom: 1px solid rgba($color: #234F5E, $alpha: .2);

  @include mq(md) {
    padding: rem(40);
    height: 100%;
    justify-content: flex-end;
    flex-direction: column-reverse;
    border: 1px solid rgba($color: #234F5E, $alpha: .2);
  }
}

.page-blog__item+.page-blog__item .page-blog__link {
  @include mq(md) {
    border-left: none;
  }
}

.page-blog__item:nth-of-type(2n+1) .page-blog__link {
  @include mq(md) {
    border-left: 1px solid rgba($color: #234F5E, $alpha: .2);
  }
}

.page-blog__item:nth-of-type(n+3) .page-blog__link {
  @include mq(md) {
    border-top: none;
  }
}


.page-blog__content {
  flex-grow: 1;

  @include mq(md) {
    margin-top: rem(16);
    flex-grow: initial;
  }
}

.page-blog__meta {
  display: flex;
  align-items: center;

  @include mq(md) {
    justify-content: space-between;
  }
}

.page-blog__date {
  font-size: rem(14);
  line-height: 1;
}

.page-blog__category {
  margin-left: rem(24);
  padding: rem(4) rem(8);
  font-size: rem(12);
  line-height: 1;
  color: #fff;
  background-color: #73B2C8;
}

.page-blog__title {
  margin-top: rem(12);
  font-size: rem(16);
  font-weight: 700;
  line-height: 1.3;
}

.page-blog__img {
  margin-left: rem(20);
  max-width: rem(100);
  width: 100%;
  flex-shrink: 0;

  @include mq(md) {
    margin-left: 0;
    max-width: initial;
  }
}

.page-blog__img img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 320/180;
  }
}

.page-blog__sidebar {
  margin-top: rem(80);

  @include mq(md) {
    margin-top: 0;
    margin-left: rem(64);
    width: 27%;
  }
}

.page-blog__sidebar-item {
  margin-top: rem(24);
}

.page-blog__sidebar-item+.page-blog__sidebar-item {
  margin-top: rem(64);
}

.page-blog__sidebar-title {
  padding: rem(13) 0 rem(13) rem(8);
  font-size: rem(24);
  font-family: $jp-family;
  color: $green;
  font-weight: $regular;
  line-height: 1;
  border-left: 8px solid $green3;
  display: flex;
  align-items: center;
}

.page-blog__sidebar-title::before {
  content: "";
  background: url(../images/common/sidebar-whale-icon_img.png) center/cover;
  display: inline-block;
  width: rem(50);
  height: rem(50);
  padding-right: rem(8);
}

.page-blog__ranking-item {
  margin-top: rem(24);
}

.page-blog__ranking-link {
  padding: rem(16);
  display: flex;
  // border-bottom: 1px solid rgba($color: #234F5E, $alpha: .2);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
}

.page-blog__ranking-title {
  flex-grow: 1;
  font-size: rem(14);
  font-weight: 700;
  line-height: 1.3;
}

.page-blog__ranking-img-wrap {
  // margin-left: rem(16);
  position: relative;
  max-width: rem(120);
  width: 100%;
  flex-shrink: 0;
}

.page-blog__ranking-img {
  width: 100%;
}

.page-blog__ranking-img img {
  width: 100%;
  aspect-ratio: 121/90;
  object-fit: cover;
}

.page-blog__wrap {
  margin-left: rem(16);
}

.page-blog__category-link {
  padding: rem(24) rem(30) rem(24) 0;
  position: relative;
  display: block;
  font-size: rem(18);
  line-height: 1.3;
  border-bottom: 1px solid #F0ECF4;
}

.page-blog__category-link::before {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(20);
  width: rem(8);
  height: rem(8);
  border-top: rem(2) solid #333;
  border-right: rem(2) solid #333;
  transform: translateY(-50%) rotate(45deg);
  transition: .3s;
}

.page-blog__reviews-link {}

.page-blog__reviews-img {
  width: 100%;
}

.page-blog__reviews-img img {
  width: 100%;
  aspect-ratio: 294/218;
  object-fit: cover;
}

.page-blog__reviews-tag {
  margin-top: rem(16);
  font-size: rem(12);
  font-family: $jp-family;
  color: $green;
  font-weight: $regular;
  line-height: 1.5;
}

.page-blog__reviews-title {
  margin-top: rem(8);
  font-size: rem(24);
  font-family: $jp-family;
  color: $green;
  font-weight: $normal;
  line-height: 1;
}

.page-blog__reviews-button {
  margin-top: rem(40);
  text-align: center;
}

.page-blog__box {
  margin-top: rem(24);
}

.page-blog_year1 {
  font-size: rem(24);
  font-family: $jp-family;
  color: $green3;
  font-weight: $regular;
  line-height: 1;
}

.page-blog_year1::before {
  content: "";
  background: url(../images/common/triangle-bottom_img.png) center/cover;
  display: inline-block;
  width: rem(24);
  height: rem(24);
  margin-right: rem(8);
}

.page-blog_year2 {
  font-size: rem(24);
  font-family: $jp-family;
  color: $green3;
  font-weight: $regular;
  line-height: 1;
}

.page-blog_year2::before {
  content: "";
  background: url(../images/common/triangle-right_img.png) center/cover;
  display: inline-block;
  width: rem(24);
  height: rem(24);
  margin-right: rem(8);
}

.page-blog__category-items {
  padding-left: rem(8);
}

.page-blog__category-item {
  margin-top: rem(4);
  margin-left: rem(24);
  padding: rem(4) 0;
}

.page-blog__category-item::before {
  content: "";
  background: url(../images/common/triangle-right_img.png) center/cover;
  display: inline-block;
  width: rem(24);
  height: rem(24);
  margin-right: rem(8);
}

.page-blog__category-month {
  font-size: rem(24);
  font-family: $jp-family;
  color: $green3;
  font-weight: $regular;
  line-height: 1;
}