@use "global" as *;


.page-information {
  position: relative;
  @include mq("md") {
  }
}

.page-information__icon-image1 {
position: absolute;
  display: block;
  z-index: -10;
  left: calc(50% - min(48.5vw, rem(640)));
  top: rem(-25);
  height: rem(55);
  width: rem(120);
  @include mq("md") {
      top: rem(-68);
      height: rem(138);
      width: rem(300);
  }
}

.page-information__inner {
  max-width: rem(600);
  width: 100%;
  // margin: auto;

  @include mq("md") {
    // max-width: 100%;
    position: relative;
  }
}