@use "global" as *;

.page-sitemap {
  position: relative;
}

.page-sitemap__icon-image1 {
  position: absolute;
    display: block;
    z-index: -10;
    left: calc(50% - min(48.5vw, rem(640)));
    top: rem(0);
    height: rem(55);
    width: rem(120);
  
    @include mq("md") {
      top: rem(-68);
      height: rem(138);
      width: rem(300);
    }
}

.page-sitemap__inner {
  margin: auto;
  padding: 0 rem(20);
  max-width: rem(600);
  width: 100%;

  @include mq(md) {
    padding: 0 rem(25);
    max-width: rem(750);
    position: relative;
    // display: flex;
  }
}

.page-sitemap {

  @include mq("md") {}
}

.page-sitemap a:hover {
  opacity: 0.7;
}

.page-sitemap__inner.inner {
  max-width: rem(600);
  padding: 0 rem(14);

  @include mq("md") {
    max-width: rem(1130);
    padding-left: rem(25);
    padding-right: rem(25);
  }
}

.page-sitemap__logo-body {
  margin-left: rem(0);
  margin-top: rem(17);

  @include mq("md") {
    display: flex;
    margin-left: 0;
    margin-top: 0;
  }
}

.page-sitemap__logo {
  max-width: rem(136);
  width: 100%;
  padding-left: rem(15);

  @include mq("md") {
    max-width: rem(212);
    margin-top: rem(10);
    margin-left: rem(-15);
  }
}

.page-sitemap__icon {
  display: flex;
  margin-top: rem(15);
  margin-left: rem(15);

  @include mq("md") {
    margin-top: rem(47);
    margin-left: rem(44);
  }
}

.page-sitemap__icon img {
  width: 100%;
  max-width: rem(24);
  height: rem(24);

  @include mq("md") {
    max-width: rem(32);
    height: rem(32);
  }
}

.page-sitemap__icon-instagram {
  margin-left: rem(10);
}

.page-sitemap__nav {}

.page-sitemap__nav {
  background-color: $green3;
}

.page-sitemap__nav-body {
  display: flex;
  margin-top: rem(25);
  width: 100%;
  justify-content: center;

  @include mq("md") {
    margin-top: rem(14);
  }
}

.page-sitemap__nav-items {
  @include mq("md") {}
}

.page-sitemap__nav-item {
  width: 100%;
  position: relative;

  @include mq("md") {}
}

.page-sitemap__nav-item a {
  @include mq("md") {
    text-align: left;
  }
}

.page-sitemap__sub-item {
  margin-left: rem(16);
}

.page-sitemap__sub-list a:nth-child(1),
.page-sitemap__sub-list a:nth-child(2),
.page-sitemap__sub-list a:nth-child(3) {
  color: $green;
  display: block;
  padding: rem(12);
  font-size: rem(16);
  font-family: $jp-family;
  font-weight: $regular;
  line-height: 1.125;
}

.page-sitemap__nav-item a {
  color: $green;
  display: block;
  padding: rem(12);
  font-size: rem(16);
  font-family: $jp-family;
  font-weight: $bold;
  line-height: 1.125;
}

.page-sitemap__box {
  margin-top: rem(12);
}

.item-child-list a {
  // margin-top: rem(-1);
  // margin-bottom: rem(6);

  @include mq("md") {
    // margin-top: rem(-2);
    // margin-bottom: rem(4);
  }
}

.page-sitemap__box a::before {
  content: url(../../assets/images/common/site-map-hitode_img.svg);
  position: relative;
  top: rem(3);
  right: rem(3);
}

.page-sitemap__pc-blocks {
  @include mq("md") {}
}

.pc-block {
  @include mq("md") {}
}

.page-sitemap__nav-left,
.page-sitemap__nav-right {
  @include mq("md") {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}

.page-sitemap__nav-right {
  // margin-right: rem(-9);

  @include mq("md") {
    text-align: right;
  }
}

.page-sitemap__nav-items {
  @include mq("md") {
    columns: 2;
    column-gap: rem(5);
    margin: 0;
    padding: 0;
  }
}

.page-sitemap__nav-item {
  @include mq("md") {
    display: block;
    margin-bottom: rem(10);
  }
}