@use "global" as *;

.pc-nav {

}

.pc-nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.pc-nav__items li a {
  //   text-decoration: none;
  //   color: #333;
}

.pc-nav__item,
.pc-nav__item a {
  height: inherit;
  align-items: center;
  justify-content: center;
}

.pc-nav__item a {
  display: flex;
  // align-items: center;
  height: inherit;
  position: relative;
  @include mq("md") {
  padding: 0  clamp(rem(11), 1.3vw, rem(18));
  }
}

// .pc-nav__item:not(:first-child) {
//   @include mq("lg") {
//     margin-left: rem(40);
//   }
//   @include mq("md") {
//     margin-left: rem(22);
//   }
// }

.pc-nav__item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $jp-family;
  font-weight: $regular;
  font-size: rem(10);
  line-height: 1.5;
  color: $white;
}

.pc-nav__item a:hover {
  color: $white;
}

.pc-nav__item a::after {
  content: '';
    position: absolute;
    bottom: rem(12);
    left: 5%;
    width: 100%;
    height: rem(1);
    background: $white;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: center top;
}

.pc-nav__item a:hover::after {
  transform: scale(1, 1);
}

.pc-nav__item a span {
  font-family: $en-family;
  font-weight: normal;
  font-size: rem(18);
  line-height: 1.8;
  color: $white;
}