@use "global" as *;

.price {
  padding: rem(80) 0;
  background-color: $green2;

  @include mq("md") {
    padding: rem(100) rem(130);
    position: relative;
  }
}

.price__icon-image {
  @include mq("md") {
    position: absolute;
    content: "";
    z-index: 10;
    left: rem(100);
    bottom: rem(60);
    width: rem(437);
    height: rem(201);
  }
}

.price-card__box {
  @include mq("md") {
    display: flex;
    flex-direction: row-reverse;
  }
}

.price-card__image {
  @include mq("md") {
    width: 50%;
  }
}

.price-card__image img {
  width: 100%;
  aspect-ratio: 480/240;
  object-fit: cover;
}

.price-card__image.sp--img {
  max-width: rem(345);
  width: 100%;

  @include mq("md") {
    display: none;
  }
}

.price-card__image.sp--img img {
  width: 100%;
  aspect-ratio: 345/227;
  object-fit: cover;
}

.price-card__image.pc--img {
  display: none;

  @include mq("md") {
    display: block;
    margin-left: rem(93);
    margin-top: rem(30);
  }
}

.price-card__image.pc--img img {
  width: 100%;
  aspect-ratio: 492/746;
  object-fit: cover;
}

.price-card__body {
  @include mq("md") {
    width: 50%;
  }
}

.price-card__body table {
  width: 100%;
}

.price-card.card__title {
  margin-top: rem(40);
  font-size: rem(16);
  line-height: 1.5;
  font-family: $jp-family;
  font-weight: $bold;
  padding-bottom: rem(4);
  color: $green;
  border-bottom: 1px solid $green3;
}

.price-card__menu {
  margin-top: rem(8);
  font-size: rem(14);
  line-height: 1.7142;
  font-family: $jp-family;
  font-weight: $regular;
  padding-bottom: rem(8);
  color: $green;

  @include mq("md") {
    font-size: rem(16);
    line-height: 1.5;
  }
}

.price-card__money {
  margin-top: rem(8);
  font-size: rem(14);
  line-height: 1.7142;
  font-family: $jp-family;
  font-weight: $regular;
  padding-bottom: rem(8);
  color: $green;
  text-align: right;

  @include mq("md") {
    font-size: rem(16);
    line-height: 1.5;
  }
}


.price__btn {
  margin-top: rem(40);
  text-align: center;
}