@use "global" as *;

.section-title__main {
  font-size: rem(32);
  font-family: $en-family;
  text-align: center;
  font-weight: $regular;
  line-height: 1.25;
  @include mq("md") {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-title__sub {
  font-size: rem(12);
  color: $green2;
  text-align: center;
  font-family: $jp-family;
  font-weight: $regular;
  line-height: 1.5       ;
  margin-top: rem(4);

  @include mq("md") {
    line-height: 1.5;
  }
}

// .section-title.section-title--center {
//   text-align: center;

//   @include mq("md") {
//     text-align: left;
//   }
// }

