@use "global" as *;

.section-header {
  // margin-top: rem(40);
  margin-bottom: rem(24);

  @include mq("md") {
    // margin-top: rem(120);
    margin-bottom: rem(40);
  }
}

.section-header__sub {
  font-size: rem(32);
  font-family: $en-family;
  font-weight: $regular;
  line-height: 1.25;
  color: $green;
  text-align: center;
  @include mq("md") {
    font-size: rem(40);
  }
}

.section-header__sub::first-letter {
  color: $green3;
}

.section-header__sub.blog__sub--white::first-letter {
  color: $white;
}

.section-header__sub span {
  color: $green3;
}

.section-header__main {
  font-size: rem(12);
  margin-top: rem(4);
  font-family: $jp-family;
  font-weight: $regular;
  line-height: 1.5;
  color: $green3;
  text-align: center;
  @include mq("md") {
    // padding-bottom: rem(80);
  }
}

.section-header__sub.section-header__sub--white {
  @include mq("md") {
    color: $white;
  }
}

.section-header__sub.section-header__sub--white::first-letter {
  @include mq("md") {
    color: $white;
  }
}

.section-header__main--white {
  @include mq("md") {
    color: $white;
  }
}

.section-header__sub.section-header__sub--large {
  font-size: rem(80);
  font-family: $en-family;
  font-weight: $regular;
  line-height: 1;
}