@use "global" as *;

.sp-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: $green3;
  overflow-y: scroll;
  z-index: -1;
}

.sp-nav__inner {
  max-width: rem(600);
}

.sp-nav__body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(90) 0;
  width: 100%;
}

.sp-nav.is-active {
  display: block;
}

.sp-nav__item {
  width: 100%;
  position: relative;
}

.sp-nav__item a {
  color: $white;
  display: block;
  padding: rem(12);
  font-size: rem(16);
  font-family: $jp-family;
  font-weight: $bold;
  line-height: 1.125;
}

.sp-nav__box {
  margin-top: rem(12);
}

.sp-nav__box a::before {
  content: url(../../assets/images/common/hitode_img.svg);
}

.sp-nav--item__right {
  // margin-right: auto;
}

