@use "global" as *;

.sub-mv {
  position: relative;
  height: rem(460);
  background-image: url(../images/common/campaign-mv-sp_img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include mq(md) {
    height: rem(548);
  background-image: url(../images/common/campaign-mv_img.jpg);
  }
}

.sub-mv__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;

  @include mq("md") {
    width: 100%;
    text-align: center;
  }
}

.sub-mv__title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: rem(94);
  font-size: rem(40);
  font-weight: $regular;
  font-family: $en-family;
  line-height: 1;
  letter-spacing: 0.52em;
  text-indent: 0.52em;
  color: $white;

  @include mq("md") {
    font-size: rem(80);
    line-height: 1;
  }
}