@use "global" as *;

.to-top {
  position: fixed;
  right: rem(14);
  bottom: rem(10);
  border-radius: 50%;
  overflow: hidden;
  border: rem(1) solid $green3;
  z-index: 999;

  @include mq("md") {
    right: rem(22);
    bottom: rem(50);
  }
}

.to-top a {
  display: block;
  width: rem(50);
  height: rem(50);
  background-color: $white;
  position: relative;

  @include mq("md") {
    width: rem(78);
    height: rem(78);
  }
}

.to-top a span::before {
  /* くの字の表示設定 */
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: rem(17);
  /* 要素の右からの距離 */
  width: rem(12);
  height: rem(20);
  border-top: rem(1) solid $green3;
  transform: rotate(-45deg);
  /* 角度調整 */
  @include mq("md") {
    right: rem(19);
    height: rem(44);
  }
}

.to-top a span::after {
  /* 棒の表示設定 */
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: rem(10);
  /* 要素の右からの距離 */
  width: rem(28);
  height: rem(1);
  background: $green3;
  transform: rotate(-90deg);
  @include mq("md") {
    right: rem(14);
    width: rem(43);
  }
}