@use "global" as *;

.voice {
  padding: rem(80) 0;
  @include mq("md") {
  padding: rem(140) rem(130);
  position: relative;
  }
}

.voice__icon-image1 {
  @include mq("md") {
    position: absolute;
    content: "";
    z-index: 10;
    left: rem(100);
    top: rem(35);
    width: rem(300);
    height: rem(138);
  }
}

.voice__icon-image2 {
  @include mq("md") {
    position: absolute;
    content: "";
    z-index: 10;
    right: rem(180);
    bottom: rem(73);
    width: rem(70);
    height: rem(162);
  }
}

.voice__cards {
  display: flex;
  flex-direction: column;
  margin-top: rem(-40);

  @include mq("md") {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.voice__card {
  margin-top: rem(40);
  @include mq("md") {
    max-width: calc((100% - rem(40)) / 2);
    width: 100%;
  }
}

.voice__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}