@use "global" as *;

.voice {
  @include mq("md") {
    position: relative;
  }
}

.voice__inner {
  max-width: rem(600);
  width: 100%;
  padding-left: rem(15);
  padding-right: rem(15);

  @include mq("md") {
    // position: relative;
  }
}

.voice__icon-image1 {
  @include mq("md") {
    position: absolute;
    content: "";
    z-index: 10;
    left: calc(50% - min(48.5vw, rem(620)));
    top: rem(-110);
    width: rem(300);
    height: rem(138);
  }
}

.voice__icon-image2 {
  @include mq("md") {
    position: absolute;
    content: "";
    z-index: 10;
    right: calc(50% - min(48.5vw, rem(540)));
    bottom: rem(-65);
    width: rem(70);
    height: rem(162);
  }
}

.voice__button {
  margin-top: rem(40);
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
  }
}